 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>The Horn Toads has just formed as a rocking band to
                    entertain punters.  All of us but Ewald played in The
                    Hellfire Blues Club–another hard-rocking group with 5 years
                    stage experience in V&amp;A Waterfront pubs (Ferryman's,
                    Quay 4), and festivals in and out of Cape Town (Big Blues
                    Festival, Little Known Blues Fest).  The Horn Toads will be
                    tighter, more exciting, with an even better mix of songs.
                    Watch this space. Vamos!</p>
                </div>
            </div>
        </div>
    </section>
