 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>The Horn Toads is rock and roll band from Cape Town, South Africa. They only have one mission: To be the best rock and roll band. </p>
                </div>
            </div>
        </div>
    </section>
