 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                    The Horn Toads are maximum rock ’n roll. Four musicians who’ve been drip-fed high-octane blues-rock since birth. We’ve blooded ourselves on the stages of Cape Town’s busiest pubs like Ferryman’s, Quay 4, Pakalolo, The Viper Lounge, and local festival stages like Big Blues, Caledon Beer Festival and Kommetije Fest. Now, as The Horn Toads, we're revving up our chops and our ambitions.
                    </p>

                    <p>
                    We’re about old-fashioned guitars, overloaded amplifiers, making a show, and living the rock ’n roll of our spiritual ancestors – The Stones, ZZ Top, Zeppelin, and AC/DC.
                    </p>
                </div>
            </div>
        </div>
    </section>
