
    <!-- Portfolio Grid Section -->
    <section id="gigs">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>2016 Gigs</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <h3>Upcoming shows</h3>
            {% for gig in site.gigs reversed%}
                {% if gig.date >= site.time | date %}
                <div class="row gig-entry">
                    <div class="col-sm-3 portfolio-item">
                        {{ gig.date | date_to_string }}, {{ gig.starttime }}
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        {{ gig.venue | markdownify }}
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        {{ gig.description | markdownify }}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            <h3>Past shows</h3>
            {% for gig in site.gigs reversed%}
                {% if gig.date < site.time | date %}
                <div class="row gig-entry">
                    <div class="col-sm-3 portfolio-item">
                        {{ gig.date | date_to_string }} {{ gig.starttime }}
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        {{ gig.venue | markdownify }}
                    </div>
                    <div class="col-sm-4 portfolio-item">
                        {{ gig.description | markdownify }}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
