
    <!-- Portfolio Grid Section -->
    <section id="members" class='success'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>The Horn Toads</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for member in site.members %}
                <div class="col-sm-3 portfolio-item">
                    <img src="img/members/{{ member.img }}" class="img-responsive" alt="{{ member.alt }}">
                    <p>{{ member.description }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
